@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container{
    font-family: 'Montserrat', sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
}
.login-form {
    border: 1px solid lightgray;
    width: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form h4 {
    font-weight: bold !important;
}
input {
    width: 300px;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px !important;
    transition: all 0.5s;
}
input:focus {
    outline: none;
    transform: scale(1.05);
}
.form-inputs {
    margin: 20px auto 10px auto;
}
.create-btn {
    border: none;
    width: 300px;
    background-color: #FF6E40;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.login-form p {
    font-size: 0.7rem;
}
.login-form p span {
    color: #FF6E40 !important;
    cursor: pointer;

}
.fire-auth {
    margin: 0px auto 50px auto;
}
.google-sign-in {
    margin-bottom: 10px;
}
.google-sign-in , .facebook-sign-in {
    border: 1px solid black;
    width: 300px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    font-size: 0.8rem;
} 